/* Estils bàsics per a la pàgina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: auto;
   max-width: 30%;
   margin-left: auto;
   margin-right: auto;

    padding: 0;
}

/* Encapçalament */
header {
    color: rgb(5, 5, 5);
    padding: 20px;
}

/* Enllaços */
a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}